<app-dashboard-layout>
    <div class="grid bg-white shadow-sm rounded-md p-3">
        <div class="flex flex-row gap-4 w-full mb-3">
            <!-- Tanggal -->
            <div class="flex flex-col gap-1 w-3/12">
                <p-calendar [(ngModel)]="TanggalFilter" styleClass="p-inputtext-sm w-full defaultFont"
                    dateFormat="dd MM yy" placeholder="Filter dari tanggal">
                </p-calendar>
            </div>

            <!-- Cari -->
            <div class="flex ml-auto gap-3 items-end">
                <p-button severity="info" label="Cari" styleClass="p-button-sm defaultFont" (onClick)="handleGetAll()">
                </p-button>

                <p-button severity="secondary" label="Export" styleClass="p-button-sm defaultFont">
                </p-button>
            </div>
        </div>

        <div class="grid pt-2 mt-2 border-t border-b-0 border-x-0 border-dashed border-gray-300">
            <p-table [value]="LogDatasource" styleClass="p-datatable-striped defaultFont"
                [tableStyle]="{'min-width': '50rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-sm">#</th>
                        <th class="text-sm">Tanggal</th>
                        <th class="text-sm">Device</th>
                        <th class="text-sm">Isi Ulang Pertama</th>
                        <th class="text-sm">Total Isi Ulang</th>
                        <th class="text-sm">Total Konsumsi</th>
                        <th class="text-sm" style="text-align: center !important;">Aksi</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
                    <tr>
                        <td class="text-sm">{{ rowIndex + 1 }}</td>
                        <td class="text-sm">{{ product.date_time | date: 'dd-MM-yyyy HH:mm' }}</td>
                        <td class="text-sm">{{ product.device_name }}</td>
                        <td class="text-sm">{{ product.initial_fill_litre }} Liter</td>
                        <td class="text-sm">{{ product.total_fill_litre }} Liter</td>
                        <td class="text-sm">{{ product.total_consume_litre }} Liter</td>
                        <td class="text-sm" style="text-align: center !important;">
                            <span>
                                <i class="pi pi-ellipsis-v"></i>
                            </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

</app-dashboard-layout>